# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.*.local

# SQLite database
cgpa_data.db

# Streamlit cache
.streamlit/

# VSCode or IDE settings
.vscode/
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
